<p> 
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @book.body %>
</p>

<p id="notice"></p>

<a class="edit_106326" href="/books/106326/edit">Edit</a> |
<a class="back" href="/books">Back</a>

  

